@media(max-width:767px) {
    header {}
    body {
        width: px;
        margin: 0;
    }
    .top {
        margin: 150px 0;
    }
    .con-1 {
        width: 100%;
        border: none;
    }
    .service{
        border: none;
    }
    .con3 {
        width: 100%;
        border: none;
    }
    .header {
        display: flex;
        text-align: center;
        margin-left: 35px;
    }
    .header-nav{
        margin: 0;
        transform: translateY(-6px);
        margin-left: 10px;
        position: absolute;
    }
    .headr-left {
        float: none;
        margin-bottom: 30px;
    }
    .header-logo {
        margin-bottom: 10px;
    }
    .header-logo a {
        font-size: 30px;
    }
    .top-logo {
        width: 90%;
    }
    .top-logo h3 {
        margin: 10px 0;
        font-size: 32px;
    }
    .top-logo p {
        font-size: 20px;
        

    }
    .creative{
        height: 100%;
    }
    .header-right {
        padding-top: 5px;
    }
    .header-contact a {}
    .header-logo {}
    .header-nav a {}
    .top-logo h3 {
        font-size: 35px;
    }
    .top-me p {
        font-size: 20px;
        width: 350px;
        margin: 0;
    }
    .service1 {}
    .service1 p {
        font-size: 35px;
        padding: 20px 0;
        width: 100%;
        border: none;
        border-bottom: 3px solid #005aa4;
        border-top: 3px solid #005aa4;
    }
    .main {
        display: block;
    }
    .main1 {
        width: 100%;
    }
    .main1-1 {
        display: block;
    }
    .main1-me {
        margin-bottom: 50px;
    }
    .main2-to p {
        width: 100%;
        font-size: 35px;
        padding: 20px 0;
        border: none;
        border-bottom: 3px solid #005aa4;
        border-top: 3px solid #005aa4;
    }
    .main2{
        display: flex;
        
    }
    .main2-bo {
        display: block;
        
    }
    .creative{
        border: none;
    }
    .main2-bo-item{
        width: 90%;
        margin-left: 10px;
    }
    .main2-bo p {
        font-size: 15px;
    }
    .work-title p {
        width: 100%;
        padding: 20px 0;
        font-size: 35px;
        border: none;
        border-bottom: 3px solid #005aa4;
        border-top: 3px solid #005aa4;
    }
    .pastrecords{
        height: 100%;
    }
    .workflow1-me p {
        font-size: 18px;
        text-align: px;
        width: 100%;
    }
    .workflow1-item {
        display: block;
    }
    .workflow1-item1{
        margin: 20px 0;
    }
    .workflow2-item {
        display: block;
    }
    .yaji {
        display: none;
    }
    .yaji2 {
        display: none;
    }
    .workflow1-item1 {
        width: 100%;
        
    }
    .pastrecords{
        border: none;
    }
    .past-title {
        margin: 50px 0;
    }
    .past-title P {
        width: 100%;
        padding: 20px 0;
        font-size: 35px;
        border: none;
        border-bottom: 3px solid #005aa4;
        border-top: 3px solid #005aa4;
    }
    .past-item {
        display: block;
    }
    .past-main {
        width: 100%;
        margin-bottom: 50px;
    }
    .past-me p{
        margin: 0;
    }
    .manage-top p {
        width: 100%;
        padding: 20px 0;
        font-size: 35px;
        border: none;
        border-bottom: 3px solid #005aa4;
        border-top: 3px solid #005aa4;
    }
    .manege-me p {
        margin: 0;
    }
    .manege-me {
        display: block;
        margin-left: 0;
    }
    .manege-me img {
        width: 100%;
    }
    .news-me {
        width: 100%;
        margin-left: 0;
    }
}