header {
    margin: 50px 0;
}

body {
    font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    ;
    max-width: 100%;
    margin: 0 5%;
}

.container {
    width: 90%;
    max-width: px;
    margin: auto;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

body {
    margin: 0;
    max-width: 100%;
    margin: 0 5%;
}

.header-color {
    background-color: black;
    width: 50%;
    transform: translateY(-20px);
    bottom: 0;
    height: 15px;
}

.header-color {
    background-color: #e74c3c;
    animation: bg-color 8s infinite;
    -webkit-animation: bg-color 8s infinite;
}

@-webkit-keyframes bg-color {
    0% {
        background-color: #e74c3c;
    }
    20% {
        background-color: #f1c40f;
    }
    40% {
        background-color: #1abc9c;
    }
    60% {
        background-color: #3498db;
    }
    80% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #e74c3c;
    }
}

@keyframes bg-color {
    0% {
        background-color: #e74c3c;
    }
    20% {
        background-color: #f1c40f;
    }
    40% {
        background-color: #1abc9c;
    }
    60% {
        background-color: #3498db;
    }
    80% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #e74c3c;
    }
}

.top-logo span {
    color: #e74c3c;
    animation: color 8s infinite;
    -webkit-animation: color 8s infinite;
}

@-webkit-keyframes color {
    0% {
        color: #e74c3c;
    }
    20% {
        color: #f1c40f;
    }
    40% {
        color: #1abc9c;
    }
    60% {
        color: #3498db;
    }
    80% {
        color: #9b59b6;
    }
    100% {
        color: #e74c3c;
    }
}

@keyframes color {
    0% {
        color: #e74c3c;
    }
    20% {
        color: #f1c40f;
    }
    40% {
        color: #1abc9c;
    }
    60% {
        color: #3498db;
    }
    80% {
        color: #9b59b6;
    }
    100% {
        color: #e74c3c;
    }
}

.header-logo {}

.header-logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    display: flex;
}

.header-toggle ul {
    width: 200px;
}

.header-contact {}

.header-contact a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.header-nav ul {
    transform: translateX(-30px);
    font-size: 15px;
    font-weight: 600;
    list-style: none;
    display: none;
}

.header-nav {
    margin-left: 30px;
}

.header-nav img {
    width: 45px;
    height: 45px;
    transform: translateY(-8px);
}

.header_button a {
    animation: header_off0 .5s cubic-bezier(1, 0, 0, 1) forwards;
}

.header_button a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.header_button a div span, .keyword_button>div {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.top {
    margin-top: 200px;
    margin-bottom: 250px;
    margin-left: 50px;
}

.top-logo {
    width: 80%;
}

.top-logo h3 {
    font-size: 55px;
    font-weight: 800;
    margin: 0;
}

.top-logo span {}

.top-logo p {
    font-size: 25px;
    transform: translateY(px);
    margin: 0;
}

.top-me {
    width: 80%;
}

.top-me p {
    font-size: 25px;
}

.sc {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    float: right;
    margin-top: 50px;
}

.sc p {
    font-size: 20px;
}

.sc span {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

.service {
    padding: 0;
}

.service1 {}

.service1 p {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: #005aa4;
    font-size: 50px;
    width: 45%;
    text-align: center;
    float: right;
    margin-top: 0;
}

.con-1 {
    height: px;
    z-index: 0;
    width: 97%;
    transform: translateY();
    background-color: ;
    border-bottom: 2px ridge black;
    border-right: 2px solid black;
}

.main {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.main1 {
    width: 30%;
}

.main1-me a {
    width: 100%;
}

.main1-to {
    text-align: center;
}

.main1-to p {
    width: 100%;
    margin: 0;
}

.main1-to a:hover {
    border-bottom: 3px solid #005aa4;
}

.cr {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transform: translateY(-20px);
    margin-left: 150px;
}

.cr p {
    opacity: 0;
}

.main1-to p {
    color: #005aa4;
    font-size: 30px;
    font-weight: bold;
    z-index: 10;
}

.main1-to a {
    color: #ABACAD;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}

.main1-bo {}

.main1-bo {
    z-index: 10;
}

.main1-bo p {
    padding: 20px 0;
    line-height: 2;
    z-index: 10;
    margin: 0;
}

.main1-1 {
    display: flex;
    justify-content: space-between;
    height: px;
}

.creative {
    margin: 100px 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 680px;
}

.main2 {}

.main2-to {
    color: #005aa4;
}

.main2-to p {
    width: 45%;
    text-align: center;
    border-bottom: 2px solid #005aa4;
    border-top: 2px solid #005aa4;
    border-right: 2px solid #005aa4;
    font-size: 50px;
}

.main2-to h3 {
    text-align: center;
    font-size: 30px;
    color: #005aa4;
}

.con2 {
    background-color: #dbf1ff;
    height: px;
    width: 95%;
    margin-left: px;
    padding: 50px 0;
    right: 0;
    border-left: 2px solid black;
}

.main2-bo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main2-bo p {
    border: 2px solid #005aa4;
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.main2-bo-item {
    width: 30%;
}

.main2-bo-item p {
    text-align: center;
}

.workflow {
    height: px;
}

.work-title {
    margin: 40px 0;
}

.work-title p {
    color: #005aa4;
    text-align: center;
    font-size: 50px;
    background-color: #fff;
    width: 45%;
    border-bottom: 2px solid #005aa4;
    border-right: 2px solid #005aa4;
    border-top: 2px solid #005aa4;
}

.con3 {
    height: px;
    z-index: 0;
    padding-bottom: 40px;
    width: 95%;
    transform: translateX(px);
    background-color: ;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.workflow1 {
    justify-content: space-between;
}

.workflow1-me {}

.workflow1-me p {
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 0;
}

.x {
    margin: 10px 0;
}

.x2 {
    margin: 20px 0;
}

.workflow1-item {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
}

.workflow1-item1 {
    width: 320px;
    margin: 0 30px;
}

.workflow1-item1 img {
    width: 100%;
}

.workflow1-item1 p {
    text-align: center;
    color: black;
    width: 100%;
}

.yaji {
    font-size: 50px;
    font-weight: bold;
    color: #005aa4;
    padding-top: 70px;
    height: 60px;
    display: none;
}

.yaji2 {
    font-size: 50px;
    font-weight: bold;
    color: #005aa4;
    text-align: center;
    transform: rotate(35deg);
    display: none;
}

.text {}

.workflow2-item {
    display: flex;
    transform: translateX(px);
    justify-content: space-between;
}

.workflow2-item1 img {
    width: 100%;
}

.pastrecords {
    margin: 50px 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.past-title {
    margin: 50px 0;
}

.past-title p {
    color: #005aa4;
    border-top: 2px solid #005aa4;
    border-right: 2px solid #005aa4;
    border-bottom: 2px solid #005aa4;
    font-size: 50px;
    text-align: center;
    width: 45%;
}

.con4 {
    height: 560px;
    z-index: 0;
    width: 97%;
    transform: translateY(65px);
    background-color: #dbf1ff;
}

.past-item {
    display: flex;
    justify-content: space-between;
}

.past-main {
    width: 30%;
}

.past-img {}

.past-img img {
    width: 100%;
}

.past-me {
    margin-top: 60px;
}

.past-me p {
    margin: 0;
    margin-bottom: px;
}

.past-buttom {
    text-align: center;
    border-radius: 50px;
    margin-bottom: 20px;
}

.past-bu :hover {
    border-bottom: 3px solid #005aa4;
}

.past-buttom a {
    text-decoration: none;
    color: #ABACAD;
    font-size: 25px;
}

.manage {
    margin: 100px 0;
}

.con5 {
    height: 300px;
    width: px;
    transform: translateY(px);
    background-color: #dbf1ff;
    padding-bottom: 20px;
    padding-top: 10px;
}

.con5 p {}

.manage-top {
    margin: 50px 0;
}

.manage-top p {
    background-color: #fff;
    color: #005aa4;
    font-size: 50px;
    width: 45%;
    text-align: center;
    border-top: 2px solid #005aa4;
    border-bottom: 2px solid #005aa4;
    border-right: 2px solid #005aa4;
}

.manege-me {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.news-img img {}

.news-me {
    width: 60%;
    margin-left: 50px;
}

.news-me h3 {}

.news-me p {}

.footer {
    background-color: #005aa4;
    padding: 40px 0;
    width: 100%;
}

.footer p {
    margin: 0;
    text-align: right;
    color: #fff;
    padding-right: 10px;
}

.slide-right {
    transform: translateX(500px);
}

.slide-left {
    transform: translateX(-1500px);
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.downup {
    transform: translateY(200px);
}

.past-img {
    position: relative;
}

.past-img::before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 100%;
    height: 100%;
    background-color: #005aa4;
    z-index: -1;
}

.news-img {
    position: relative;
    height: 100%;
}

.news-img::before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 100%;
    height: 100%;
    background-color: #005aa4;
    z-index: -1;
}

.workimg {
    position: relative;
}

.workimg::before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 100%;
    height: 100%;
    background-color: #005aa4;
    z-index: -1;
}

.top {
    position: relative;
}

.top::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: 3s slidein 0.5s forwards;
}

@keyframes slidein {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.header-color {
    position: relative;
}

.header-color::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: 2s slidein 0.5s forwards;
}

@keyframes slidein {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.header-logo {
    position: relative;
}

.header-logo::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: 2s slidein 0.5s forwards;
}

@keyframes slidein {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.header-nav {
    animation: .9s fadein .9s forwards;
    opacity: 0;
}

@keyframes fadein {
    from {
        bottom: px;
    }
    to {
        bottom: px;
        opacity: 1;
    }
}

.sc {
    animation: .9s fadein .9s forwards;
    opacity: 0;
}

@keyframes fadein {
    from {
        bottom: px;
    }
    to {
        bottom: px;
        opacity: 1;
    }
}